/* Ryani Durham */
/* Lab 10 */
/* lt blue - (113,242,250), md blue (99,214,244), dk blue (39,3,245) */

body {
    /* padding-top needed to prevent body from hiding behind navbar */
    padding-top: 150px; 
    text-align: center;
}

.col {
    border-radius: 25px;
    border: 1px solid rgb(39,3,245);
    margin: 10px;
    padding: 10px;
}

.heading {
    font-family: "Rowdies", Arial;
    font-weight: 400;
    font-style: normal;
    margin-right: auto;
}

img {
    width: 50px;
}

.slide-img {
    width: 100%;
}