/* Ryani Durham */
/* Lab 10 */

/* Color Codes */
/* #ADBBDA (light purple gray), #3D52A0 (muted violet), #EDE8F5 (off-white) #4D1A7D (dark purple), #8697C4 (purply gray)*/

/* Global Styles */
body {
    background-color: #ADBBDA;
    font-family: Arial, Verdana, 'Times New Roman';
    text-align: center;
}

.sidebar-toggle {
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    transition: var(--transition);
    cursor: pointer;
}
.sidebar-toggle:hover {
    color: var(--clr-primary-7);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    transition: var(--transition);
    cursor: pointer;
    color: var(--clr-red-dark);
}
.close-btn:hover {
    color: var(--clr-red-light);
    transform: rotate(360deg);
}

.links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--clr-grey-5);
    transition: var(--transition);
}

.links a:hover {
    padding-left: 1.75rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ede8f5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--clr-red-dark);
    transition: var(--transition);
    transform: translate(-100%);
}
.show-sidebar {
    transform: translate(0);
}
@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }
}

h1 {
    color: #3D52A0;
}

header {
    margin-top: 5%;
}

a {
    text-decoration: none;
}

.active {
    background-color: #3D52A0;
    color: #ede8f5;
}

footer {
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

footer > a {
    padding: 5px;
    color: #4D1A7D;
}

/* Home */
ul {
    list-style-type: none;
}

.projects {
    width: 100%;
}

/* Interests */
#interests-list {
    list-style-type: circle;
}

#interests-pics {
    text-align: center;
}

/* Resume */
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-left: auto;
    margin-right: auto;
}

@media print {
    nav {
        display: none;
    }
}

@media screen and (max-width:729px){
    body {
        font-size: 150%;
    }

    nav > a {
        display: inline;
    }
}