/* Ryani Durham */
/* Lab 10 */

body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-family: "Prosto One", "Roboto Regular", Arial;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Roboto Regular", Arial;
    font-weight: 400;
    font-style: normal;
}

#albums-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.card {
    width: 400px;
    border: 2px solid white;
}

.card-body {
    background-color: rgb(36,36,36);
    color: white;
}

.album-btn {
    background-color: rgb(101,212,110);
}

.album-btn:hover {
    color: white;
    background: rgb(101 212 110 / 0.6) ;
}

p {
    color: black;
}