/* GLOBAL STYLES */
body {
    background-color: #DCD2F1;
}

.nav .nav-item .nav-link {
    color: black;
}

.nav .nav-item .nav-link:hover {
    color: #754EC6;
}

.btn {
    background-color: #754EC6;
    color: white;
}

footer {
    text-align: center;
}

footer a {
    color: black;
}