/* GLOBAL STYLES */
body {
    background-color: #DCD2F1;
}

.navbar {
    background-color: #754EC6;
}

.navbar-nav .nav-link, #nav-name {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: black;
}

/* .nav .nav-item .nav-link {
    color: black;
}

.nav .nav-item .nav-link:hover {
    color: #754EC6;
} */

.btn {
    background-color: #754EC6;
    color: white;
}

.btn:hover {
    background-color: #45297E;
    color: white;
}

footer {
    text-align: center;
}

footer a {
    color: black;
}