/* GLOBAL STYLES */
body {
    background-color: #DCD2F1;
}

.navbar {
    background-color: #754EC6;
}

.navbar-nav .nav-link, #nav-name {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: black;
}

.container {
    margin-top: 50px;
}

.btn {
    background-color: #754EC6;
    color: white;
}

.btn:hover {
    background-color: #45297E;
    color: white;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: black;
}